[Unit]
Description=reverse-udp-tunnel (outside)
Wants=network-online.target
After=network-online.target

[Service]
Type=simple
Restart=always
RestartSec=30

ExecStart=reverse-udp-tunnel -l 7777 -n 10 --keepaliveInterval 20 -k "reverse-udp-secret1234" --logLevel 2 >> /mnt/data/sven/reverse-udp-tunnel.log

[Install]
WantedBy=multi-user.target

